@mixin hidden-forms {
    display: none;
    position: absolute;
    top: 300px;
    left: 300px;
    background-color: #8d8d7e;
}
$primary-color: #d1d1b9ee;
$site-padding: 10px;
$common-margin: 0 10px;
$main-border: 4px;

body {
    margin: 0;
    padding: 0;
    background-color: $primary-color;
    
}
body, button, input, textarea {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    color: #494941;  
  
}

header {
    padding: 10px 0;
    margin: $common-margin;
    display: flex;
    flex-direction: column;
        #header-controls {
        display: flex;
        justify-content: flex-end;
        }
}
#blog-site {
    background-color: #f5f5dc;
    margin: $common-margin;
    border-radius: $main-border;
}
#register-or-login-form, #register-form, #login-form {
    @include hidden-forms;
}

#logout-btn {
    order: 5;
    justify-self: flex-end;
    display: none;
}
#loading-note {
    font-size: 3em;
}
button {   
    padding: $site-padding;
    font-weight: bold;
    background-color: $primary-color;
    border: none;
    &:hover {
            text-decoration: underline;
        }
}
section, .comment {
    
    padding: $site-padding;

    .comment {
        margin-left: 5%;
    }
}
section > .comment {
    margin-top: -1px;
}

#header-forms {
    padding: 0;
}
#add-post-form, .edit-post-form, .add-comment-form, .edit-comment-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: $common-margin;
}
.close-form {
    align-self: flex-end;
}

.post-title {
    margin:10px 0 ;
    font-size: 24px;
    font-weight: bold;
}
.post-text {
    font-size: 16px;
}
.post-controls {
    background-color: $primary-color;
    border-radius: $main-border;
}

.comment-controls {
    padding: $site-padding;
    background-color: $primary-color;
    border-radius: $main-border;
}
.comment-data {
    color: #3d3d37;
    font-weight: bold;

}

@media (max-width: 420px){
    section > .comment {
        padding-left:0;
        margin-left: 0;
    }
}